61968-5/wsdl/change/ReceiveDERGroups.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://iec.ch/TC57/2017/ReceiveDERGroups" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:infoMessage="http://iec.ch/TC57/2017/DERGroupsMessage" name="ReceiveDERGroups" targetNamespace="http://iec.ch/TC57/2017/ReceiveDERGroups">
	<wsdl:types>
		<xs:schema targetNamespace="http://iec.ch/TC57/2017/ReceiveDERGroups" elementFormDefault="qualified">
			<xs:import namespace="http://iec.ch/TC57/2017/DERGroupsMessage" schemaLocation="xsd/DERGroupsMessage.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ChangedDERGroupsEventMessage">
		<wsdl:part name="ChangedDERGroupsEventMessage" element="infoMessage:ChangedDERGroups"/>
	</wsdl:message>
	<wsdl:message name="DeletedDERGroupsEventMessage">
		<wsdl:part name="DeletedDERGroupsEventMessage" element="infoMessage:DeletedDERGroups"/>
	</wsdl:message>
	<wsdl:message name="ResponseMessage">
		<wsdl:part name="ResponseMessage" element="infoMessage:DERGroupsResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="FaultMessage" element="infoMessage:DERGroupsFaultMessage"/>
	</wsdl:message>
	<wsdl:portType name="DERGroups_Port">
		<wsdl:operation name="ChangedDERGroups">
			<wsdl:input name="ChangedDERGroupsEvent" message="tns:ChangedDERGroupsEventMessage"/>
			<wsdl:output name="ChangedDERGroupsResponse" message="tns:ResponseMessage"/>
			<wsdl:fault name="ChangedDERGroupsFault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeletedDERGroups">
			<wsdl:input name="DeletedDERGroupsEvent" message="tns:DeletedDERGroupsEventMessage"/>
			<wsdl:output name="DeletedDERGroupsResponse" message="tns:ResponseMessage"/>
			<wsdl:fault name="DeletedDERGroupsFault" message="tns:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DERGroups_Binding" type="tns:DERGroups_Port">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ChangedDERGroups">
			<soap:operation soapAction="http://iec.ch/TC57/2017/DERGroups/ChangedDERGroups" style="document"/>
			<wsdl:input name="ChangedDERGroupsEvent">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ChangedDERGroupsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChangedDERGroupsFault">
				<soap:fault name="ChangedDERGroupsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeletedDERGroups">
			<soap:operation soapAction="http://iec.ch/TC57/2017/DERGroups/DeletedDERGroups" style="document"/>
			<wsdl:input name="DeletedDERGroupsEvent">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DeletedDERGroupsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DeletedDERGroupsFault">
				<soap:fault name="DeletedDERGroupsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReceiveDERGroups">
		<wsdl:port name="DERGroups_Port" binding="tns:DERGroups_Binding">
			<soap:address location="http://iec.ch/TC57/2017/ReceiveDERGroups"/>
		</wsdl:port>
	</wsdl:service>
	<!-- Message Definitions -->
	<!-- Port Definitions -->
</wsdl:definitions>
